<style>

h1 {
  font-family: sans-serif;
}
</style>

<h1>Hello <%= @user.email %></h1>

<h2>We hope you enjoy Magello to improve your ENES scores!</h2>

<h2>With love,</h2>

<h2>Magello team</h2>

<%= link_to "Get back on the website", root_url %>
