.white-title {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}
.white-title-link {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#main-content {
  position: relative;
  margin-top: 100px;
}

.img-profile{
  border-radius: 50%;
}

.form-control-profile {
  margin-bottom: 200px;
  background: rgba(255,255,255,0.2);
  padding: 20px 25px;
  border: none;

  input::placeholder {
    color: rgba(255,255,255,0.5);
  }

  select::placeholder {
    color: rgba(255,255,255,0.5);
  }

  input {
    background-color: rgba(255,255,255,0.35);
    color: white;

    &:-webkit-autofill:focus {
      // background-color: rgba(255,255,255,0.35);
      border-color: white;
      box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.2);
      // color: white;
      -webkit-text-fill-color: white !important;
      -webkit-background-clip: text;
    }

    &:focus {
      background-color: rgba(255,255,255,0.35);
      border-color: white;
      box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.2);
      color: white;
    }
  }

  select {
    background-color: rgba(255,255,255,0.35);
    color: white;

    &:focus {
      background-color: rgba(255,255,255,0.35);
      border-color: white;
      box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.2);
      color: white;
    }
  }
}

.white-label {
  color: white;
}

.motivation-quote {
  color: white;
  font-size: 30px;
  font-style: italic;
}
.motivation-quote p {
  margin-bottom: 0;
}

.quote-author {
  color: white;
  font-size: 19px;
  // color:#BAE5F4;
  // color:#E1D2FE;
  // color:#CCF0C0;
  // color:#FFEB7F;
}

.overall-results-image  {
  object-fit: cover;
}

.card-test {
// rounded card borders
border-radius: 5px;
// color that should pull from subject database
// color: subject.color
// border shadow so it looks a bit bevelled
box-shadow: 3px 3px 10px lightgrey;
border-style: solid;
border-width: 1px;
// how do we set border-color dynamic to a darker version of the color that gets pulled from the db?
border-color: black;
background-color: lightcoral;
color: black;
text-align: justify;
}

.card-test-empty {
  // rounded card borders
  border-radius: 5px;
  // border shadow so it looks a bit bevelled
  // box-shadow: 3px 3px 10px lightgrey;
  // border-style: solid;
  // border-width: 1px;
  // border-color: black;
  background-color: rgba(255,255,255,0.5);
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  }

.card-profile {
  color: white;
  font-size: 18px;
}

.card-profile h3 {
  color: white;
  font-size: 24px;
}

.card-graph {
  background-color: white;
  box-shadow: 5px 5px 8px lightgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.empty-warning {
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  margin-bottom: 1rem;
}
