.white-title {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

#main-content {
  margin-top: 100px;
}

.img-profile{
  border-radius: 50%;
}
.form-control-profile {
  margin-bottom: 200px;
}

.motivation-quote {
  color: white;
  font-size: 30px;
  font-style: italic;
}

.quote-author {
  color: white;
  // color:#BAE5F4;
  // color:#E1D2FE;
  // color:#CCF0C0;
  // color:#FFEB7F;
}

.overall-results-image  {
  object-fit: cover;
}

.card-test {
// rounded card borders
border-radius: 5px;
// color that should pull from subject database
// color: subject.color
// border shadow so it looks a bit bevelled
box-shadow: 5px 5px 8px lightgrey;
border-style: solid;
border-width: 1px;
// how do we set border-color dynamic to a darker version of the color that gets pulled from the db?
border-color: black;
background: lightcoral;
text-align: justify;
}


.card-profile {
  color: white;
}
