// Specific CSS for your home-page
body {
  // background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6)),url(asset-path("mountain1.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.container-info {
  padding-top: 140px;

}
.cards {
  margin-top: 70px;
}

.card {
  width: 200px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  border-radius: 15px;

  i {
    font-size: 3em;
    color: black;
  }

}
.card p {
  color: black

}
