// Specific CSS for your home-page
body {
  // background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6)),url(asset-path("mountain1.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

h1 {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 65px;
}
