<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="company d-flex align-items-center">
      <ul class = "company-details mb-0">
        <li><a href="">Team</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Legal</a></li>
      </ul>
    </div>
</div>
