<div class="container">
  <div class="row justify-content-center">
    <div class="question-wrapper mb-5 p-4 bg-secondary col-8">
      <h3 class= "text-left mb-3">Q. <%= question.qid %></h3>
      <div class="container">
        <div class="card mb-3 rounded">
          <div class="card-body text-size fs-4">
            <%= question.question_content %>
          </div>
        </div>
        <% question.answers.each do |answer| %>
        <div class="card mb-3 rounded-pill">
          <div class="card-body">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                <%= answer.answer_content %>
              </label>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
