<div class="container">
  <div class="row justify-content-center">
    <div class="question-wrapper mb-5 p-4 bg-secondary col-8">
      <h3 class= "text-start mb-3">Q.<%= question_number %></h3>
      <div class="container">
        <div class="card mb-3 rounded">
          <div class="card-body text-size fs-4">
            <%= question.question_content %>
          </div>
        </div>


        <p>Choose your answer:</p>

        <%= form.input question_number - 1, collection: question.answers.map {
          |answer| [answer.answer_content, answer.id]
          }, as: :radio_buttons, label: '', required: false %>
      </div>
    </div>
  </div>
</div>
