<div class="card-dashboard" style="background-color: <%= color %>">
  <div class="card-body card-body-dashboard">
    <h2 class="card-title"><%= subject.name %></h2>
    <p style="font-size:20px;" class="card-text text-truncate ">Date of the Exam: </p>
    <p style="font-size:20px;" class="card-text ">Time of the Exam</p>
  </div>
  <div class="submit-test">
      <%= link_to "Take Test", test_path(Test.all.sample), class: "btn-second" %>
  </div>

</div>
