<div class="card-body">
  <h2 class="card-title"><%= Subject.name %></h2>
  <p style="font-size:20px;" class="card-text text-truncate ">Date: </p>
  <p style="font-size:20px;" class="card-text ">time</p>
  <%= link_to "Take Test",  class: "btn-second" %>
</div>
