<div class="card card-test d-flex justify-content-center border border-secondary my-2 p-3" style="width: 100%">
  <div class="text-center" >
    <p class="mb-0"><strong>Subject: </strong><%= @user_profile.school_name %> </p>
    <p class="mb-0"><strong>Test Completed: </strong><%= @user_profile.school_name %> </p>
    <p class="mb-0"><strong>Test Score: </strong><%= @user_profile.school_name %> </p>
  </div>
</div>
