<div class="card-test d-flex mb-3 p-3" style="background-color: <%= test.subject.color %>">
  <div class="d-flex justify-content-between" >
    <div><p class="mb-0"><%= test.subject.name %></p></div>
    <div><p class="mb-0"><%= test.score %></p></div>
    <div><p class="mb-0"><%= test.created_at %></p></div>
  </div>
</div>
