<div class="banner vh-100">
  <div class="container">
    <h1>Reach the top with Magello</h1>
    <p>Change your life and </p>
    <button class="btn-main" href="#">Get started</button>
    <button class="btn-second" href="#">second option</button>
  </div>
</div>
