<div class="banner vh-100">
  <div class="container">
   <div class="banner-info">
         <h1>Reach the top with Magello</h1>
        <p>Your ENES exams are just around the corner </p>
        <p>Discover a new way of learning and improve your score with us!</p>
        <% if user_signed_in? %>
          <%= link_to "Get Started", dashboard_path, class: "btn-main" %>
        <% else %>
          <%= link_to "Get Started", new_user_registration_path, class: "btn-main" %>
        <% end %>
   </div>
  </div>

  <div class="container container-info">
    <div class="text-info">
      <h2 class="text-left">Build your future right here</h2>
    </div>
      <div class="cards-homepage d-flex justify-content-around ">

        <div class="card-homepage">
          <i class="fas fa-tachometer-alt"></i>
          <p>Keep track of your results</p>
        </div>

        <div class="card-homepage">
          <i class="fas fa-graduation-cap"></i>
          <p>Learn in an efficient way</p>
        </div>

        <div class="card-homepage">
          <i class="fas fa-chart-line"></i>
          <p>Improve your scores</p>
        </div>

  </div>

</div>
