<h1 class="text-center mb-5" style="color: white">Congratulations!</h1>
<h2 class="text-center mb-5" style="color: white">You got 20 out of 20 questions correct for a final score of 100%!</h2>


<%= render 'shared/results_card', questions: @questions %>


<div class="container col-8 d-flex justify-content-between">
  <div class="">
    <%= link_to "Cancel Test", root_path, class: "btn-main" %>
  </div>
    <div class="">
    <%= link_to "Go Home", dashboard_path, class: "btn-main" %>
  </div>
</div>
