<h1 class="display-2 text-center mb-5" style="color: white">Congratulations!</h1>
<h2 class="display-5 text-center mb-5" style="color: white">You got 20 out of 20 questions correct for a final score of 100%!</h2>


<%= render 'shared/results_card', questions: @questions %>


<div class="container col-8 d-flex justify-content-end">
   <div class="">
    <%= link_to "Go Home", dashboard_path, class: "btn-main" %>
  </div>
</div>
