<h1 style="text-align: center;">Create your Student Profile</h1>

<p>Please fill out the form below.

  We need some extra information from you in order to personalise your learning experience! 📜 </p>

<%= render 'form'%>
