.question-wrapper {
  border-radius: 5px;
  background: rgba(184, 201, 208, 0.684);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ul-no-style {
  list-style: none;
  padding-left: 0;
}

.no-hover:hover {
  transform: none;
}

.fs-16px {
  font-size: 16px;
}

.standard-answer {
  padding-left: 1.65rem !important;
}
