<h1 class="display-2 text-center mb-5" style="color: white">ENES Test</h1>


<% @questions.each do |question| %>
  <%= render 'shared/question_card', question: question %>
<% end %>


<div class="container col-8 d-flex justify-content-between">
  <div class="">
    <%= link_to "Cancel Test", dashboard_path, class: "btn btn-main" %>
  </div>
    <div class="">
    <%= link_to "Submit Answers", results_path, class: "btn btn-main" %>
  </div>
</div>
