<%= render 'shared/question_card', questions: @questions, answers: @answers %>

<div class="container col-8 d-flex justify-content-between">
  <div class="">
    <button type="button" class="btn btn-primary mt-5">Cancel Test</button>
  </div>
    <div class="">
    <button type="button" class="btn btn-primary mt-5">Submit Answers</button>
  </div>
</div>
