<%# <% @questions.each do |question| %>

    <%# <%= render 'shared/question_card', questions: @questions, answers: @answers %>

<h1 class="text-center color: white">ENES Test</h1>

<% 20.times do |i| %>
  <%= render 'shared/question_card', questions: @questions, answers: @answers %>
<% end %>

<div class="container col-8 d-flex justify-content-between">
  <div class="">
    <%= link_to "Cancel Test", root_path, class: "btn btn-primary" %>
  </div>
    <div class="">
    <%= link_to "Submit Answers", root_path, class: "btn btn-primary" %>
  </div>
</div>
